@import "../../styles/variables";

.card-size {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid $light-gray;
  height: 6rem;
  width: 10rem;
  background-color: white;
  border-radius: 0.2rem;

  @media (min-width: 990px) {
    height: 6rem;
    width: 16rem;
    font-size: large;
  }
}

.card-size.active {
  border-color: $blue;
  border-width: 2px;

  .size {
    font-weight: 600;
  }
}

.variation-price {
  font-size: smaller;
  color: $light-gray;
}
