<div class="footer-div">
  <div class="doubts-infos">
    <div class="doubts">
      <p class="title">Dúvidas</p>
      <p>Como escolher o tamanho</p>
      <p>Como instalar</p>
      <p>Entre em contato</p>
    </div>

    <div class="infos">
      <p class="title">Informações</p>
      <p>Sobre nós</p>
      <p>Termos de uso</p>
      <p>Trocas e devoluções</p>
    </div>
  </div>

  <div class="contacts">
    <div class="service">
      <p>Atendimento</p>
      <p>(99) 99999-9999</p>
      <p>(99) 99999-9999</p>
      <p>suporte@quadrosgarcia.com</p>
    </div>
    <div class="social-medias">
      <p>Nossas redes</p>
      <span class="icon">
        <img src="../../../assets/facebook-icon.png" alt="" />
      </span>
      <span class="icon">
        <img src="../../../assets/instagram-icon.png" alt="" />
      </span>
    </div>
  </div>
</div>
