<mat-toolbar id="nav">
  <button
    mat-icon-button
    class="menu-button"
    aria-label="Example icon-button with menu icon"
  >
    <mat-icon class="menu-button-icon">menu</mat-icon>
  </button>

  <span class="logo" routerLink="/">Quadros Garcia</span>

  <button
    mat-icon-button
    class="cart-button"
    aria-label="Example icon-button with share icon"
    routerLink="/cart"
  >
    <mat-icon matBadge="0" MatBadgeSize="small" matBadgeColor="warn">shopping_cart</mat-icon>
  </button>
</mat-toolbar>
