@import "../../styles/variables";

.product-card {
  width: 10rem;
  margin-bottom: 2rem;
  padding-top: 1rem;
  
  @media (min-width: 990px) {
    width: 20rem;
  }
}

.product-img {
  width: 100%;
  object-fit: cover;
}

.product-title {
  font-weight: 500;
}

.price {
  font-size: 0.8rem;
  font-weight: 200;
}
