<div class="products-details-div-body">
  <div class="product-details-div">
    <div class="title">
      <p>{{title}}</p>
    </div>
  
    <div class="purchase-div">
      <div class="div-flex" >
        <div class="large-image-product">
          <img class="large-imag" [src]="adressCapture" alt="" />
        </div>
      </div>
      <div>
        <form action="" class="padding-form">
          <h1 class="large-title">{{title}}</h1>
          <div class="form-div">
            <div class="variations">
              <div class="form-selector selector-size">
                <label class="variation-subtitle" for=""
                  >Selecione o Tamanho (em cm)</label
                >
                <br />
                <div>
                  <div class="cards-size">
                    <app-card-size></app-card-size>
                    <app-card-size></app-card-size>
                    <app-card-size></app-card-size>
                    <app-card-size></app-card-size>
                  </div>
                </div>
              </div>
    
              <div class="form-selector selector-frame">
                <label class="variation-subtitle" for=""
                  >Selecione o Acabamento</label
                >
                <br />
                <br />
                <div class="cards-frame">
                  <app-card-frame></app-card-frame>
                  <app-card-frame></app-card-frame>
                  <app-card-frame></app-card-frame>
                  <app-card-frame></app-card-frame>
                </div>
              </div>
            </div>
    
            <div class="checkout-div">
              <div class="prices">
                <span class="red-price">R$ 500,00</span>
                <span class="price">R$ 344,00</span>
              </div>
    
              <button class="purchase-button"><span> COMPRAR AGORA</span></button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

