<div class="product-details-div">
  <div class="title">
    <p>Quadro Mindset é tudo</p>
  </div>

  <div class="purchase-div">
    <div class="large-image-product">
      <img class="large-image" src="../../../assets/mind-set.jpg" alt="" />
    </div>

    <h4>Quadro Mindset é Tudo</h4>

    <form action="">
      <div class="variations">
        <div class="form-selector selector-size">
          <label for="">Selecione o Tamanho (em cm)</label><br />
          <div class="cards-size">
            <app-card-size></app-card-size>
            <app-card-size></app-card-size>
            <app-card-size></app-card-size>
            <app-card-size></app-card-size>
          </div>
        </div>

        <div class="form-selector selector-frame">
          <label for="">Selecione o Acabamento</label> <br />
          <div class="cards-frame">
            <app-card-frame></app-card-frame>
            <app-card-frame></app-card-frame>
            <app-card-frame></app-card-frame>
            <app-card-frame></app-card-frame>
          </div>
        </div>
      </div>

      <div class="checkout-div">
        <div class="prices">
          <span class="red-price">R$ 500,00</span>
          <span class="price">R$ 344,00</span>
        </div>

        <button class="purchase-button"><span> COMPRAR AGORA</span></button>
      </div>
    </form>
  </div>
</div>
