.products-grid{
    display: grid;
    grid-template-columns: 50% 50%;

    @media (min-width: 820px) {
        grid-template-columns: 33% 33% 33%;
    }

    @media (min-width: 1300px) {
        grid-template-columns: 25% 25% 25% 25%;
    }
}

.product-img {
    width: 100%;
    object-fit: cover;
  }
  
  .product-title {
    font-size: 25px;
    font-weight: 500;
  }
  
  .price {
    font-size: 18px;
    font-weight: 200;
  }