<div class="home-div">
  <h1 class="title center-text">Quadros Decorativos Premium e Exclusivos</h1>
  <p class="center-text">Entrega garantida para todo o Brasil</p>

  <div class="products-grid">
    <mat-grid-list rowHeight="1:1"  [cols]="cols">
      <mat-grid-tile> <app-product-card></app-product-card></mat-grid-tile>
      <mat-grid-tile> <app-product-card></app-product-card></mat-grid-tile>
      <mat-grid-tile> <app-product-card></app-product-card></mat-grid-tile>
      <mat-grid-tile> <app-product-card></app-product-card></mat-grid-tile>
      <mat-grid-tile> <app-product-card></app-product-card></mat-grid-tile>
      <mat-grid-tile> <app-product-card></app-product-card></mat-grid-tile>
      <mat-grid-tile> <app-product-card></app-product-card></mat-grid-tile>
      <mat-grid-tile> <app-product-card></app-product-card></mat-grid-tile>
    </mat-grid-list>
  </div>
</div>
