<div>
  <h1 class="title">Quadros Decorativos Premium e Exclusivos</h1>
  <p>Entrega garantida para todo o Brasil</p>

  <mat-grid-list cols="2" rowHeight="18.75rem" [cols]="isMobile ? 2 : 4">
    <mat-grid-tile> <app-product-card></app-product-card></mat-grid-tile>
    <mat-grid-tile> <app-product-card></app-product-card></mat-grid-tile>
    <mat-grid-tile> <app-product-card></app-product-card></mat-grid-tile>
    <mat-grid-tile> <app-product-card></app-product-card></mat-grid-tile>
    <mat-grid-tile> <app-product-card></app-product-card></mat-grid-tile>
    <mat-grid-tile> <app-product-card></app-product-card></mat-grid-tile>
    <mat-grid-tile> <app-product-card></app-product-card></mat-grid-tile>
    <mat-grid-tile> <app-product-card></app-product-card></mat-grid-tile>
  </mat-grid-list>
</div>
