<div>
  <header class="entry-header">
    <h2 class="entry-title">Carrinho</h2>
  </header>

  <form action="">
    <div class="entry-content">
      <div class="product-list">
        <div class="cart-div">
          <div class="item">
            <div class="row-infos-product">
              <button type="button" class="delete-item-button">X</button>
              <div class="image">
                <img src="../../../assets/mind-set.jpg" alt="" />
              </div>
              <div class="product-name">
                <span>Quadro Mindset é Tudo - Ultra GG 172X129, Metacrilato</span>
              </div>
            </div>
          </div>
  
          <div class="unit-price">
            <p>R$ 9.999,00</p>
          </div>
  
          <div class="row-quantity-subtotal">
            <div>
              <div class="select-quantity"><span>1</span> <span> ▼</span></div>
            </div>
            <div>
              <span class="subtotal">R$ 9.999,00</span>
            </div>
          </div>
        </div>
        <div class="unit-voucher">
          <div class="cupom-section">
            <p>Possui cupom?</p>
          </div>
          <div class="button-div-1">
            <button>Aplicar Cupom</button>
          </div>
        </div>
      </div>
      <div class="div-cupom-section">
        <div class="finish-cart-purchase">
          <h3>
            Total <br />
            R$ 9.999,00
          </h3>
    
          <div class="button-div">
            <button>Continuar para a finalização de compra</button>
          </div>
        </div>
      </div>

      </div>
  </form>
</div>
